charset-normalizer==2.0.10
click==8.1.7
docker==7.0.0
Flask==3.0.3
gunicorn==22.0.0
idna==3.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
requests==2.31.0
urllib3==1.26.8
websocket-client==1.2.3
Pillow==10.4.0
pyzipper==0.3.6
python-arango==7.8.1
colorama==0.4.6
psutil==5.9.6

## Docs
mkdocs==1.6.0